<%- include("header.html") -%>


<!-- 头部导航 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>分类列表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">主页</a>
            </li>
            <li>
                <strong>分类列表</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="/admin/content/add" class="btn btn-success">添加数据</a>
        </div>
    </div>
</div>
<!-- 头部导航 end -->

<!-- 数据列表 -->
<div class="ibox float-e-margins">
    <div class="ibox-content">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>时间</th>
                    <!-- <th>内容</th> -->
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                <% for(var i = 0; i < result.length; i++ ){%>
                <tr>
                    <td>
                        <%= result[i].id %>
                    </td>
                    <td>
                        <%= result[i].title %>
                    </td>
                    <td>
                        <%= result[i].addTime %>
                    </td>
                    <!-- <td>
                        <%- result[i].content %>
                    </td> -->
                    <td>
                        <a href="/admin/content/del/<%= result[i].id %>" type="button" class="btn btn-danger">删除</a>
                        <a href="/admin/content/edit/<%= result[i].id %>" type="button" class="btn btn-success">修改</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<!-- 数据列表 end -->

<%- include("footer.html") -%>